src/main/resources/wsdl/ErrorDetail.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.personal.com.ar/Common/ErrorDetail/v1.0">
  <xs:annotation>
    <xs:documentation>
			Cabecera de mensaje para una invocación sincronica SOAP -  Copyright 2017 Personal.com.ar. Todos los derechos reservados.
	</xs:documentation>
  </xs:annotation>
  <xs:element name="errorDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="codigo" type="xs:string">
          <xs:annotation>
            <xs:documentation>Este grupo de datos contiene información acerca del sistema que quiere consumir un servicio</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="descripcion" type="xs:string">
          <xs:annotation>
            <xs:documentation>Características del mensaje enviado</xs:documentation>
          </xs:annotation>
        </xs:element>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>