src/main/resources/wsdl/ResponseMessageHeader_v10.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.personal.com.ar/Common/ResponseMessageHeader/v1.0" xmlns:tns="http://www.personal.com.ar/Common/ResponseMessageHeader/v1.0">
  <xs:annotation>
    <xs:documentation>
			Cabecera de mensaje para una respuesta -  Copyright 2007 Personal.com.ar. Todos los derechos reservados.
		</xs:documentation>
  </xs:annotation>
  <xs:element name="responseHeader" type="tns:ResponseHeader"/>
  <xs:complexType name="ResponseHeader">
    <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="consumer">
          <xs:annotation>
            <xs:documentation>Este grupo de datos contiene información acerca del sistema que quiere consumir un servicio</xs:documentation>
          </xs:annotation>
          <xs:complexType>
             <xs:attribute name="code" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>Identificador único de consumidor. Será establecido entre el ESB y los consumidores</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="channel" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>Es un campo descriptivo en el cual se colocará el canal al que pertenece el consumidor</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="additionalData" type="xs:string" use="optional">
              <xs:annotation>
                <xs:documentation>Es un campo descriptivo en el cual se colocará información relevante para el consumidor separado por "|" en caso de necesitar varias</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="1" maxOccurs="1" name="message">
          <xs:annotation>
            <xs:documentation>Características del mensaje enviado</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
                <xs:annotation>
                  <xs:documentation>Fecha y hora en que se genera en mensaje. Este dato será cargado por ESB al momento de recibir el mensaje, de acuerdo a los metadatos que informe el transporte. Se utilizará para Conocer el momento en que se generó la respuesta. </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="messageId" type="xs:string">
              <xs:annotation>
                <xs:documentation>Identificador del mensaje. Deberá ser enviado cuando el transporte no sea MQ o JMS. Deberá ser un identificador único para cada mensaje enviado por un consumidor.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="consumerMessageId" type="xs:string">
              <xs:annotation>
                <xs:documentation>Identificador para anidamiento en los mensajes. Uso interno del ESB. Se devolverá el id de mensaje pasado en el request en el caso del response.</xs:documentation>
              </xs:annotation>
            </xs:attribute>           
          </xs:complexType>
        </xs:element>
      </xs:sequence>
  </xs:complexType>
</xs:schema>